.Body{
  background: linear-gradient(to left, rgb(151, 0, 0),rgb(250, 164, 164) 50%, rgb(250, 164, 164) 50%, rgb(151, 0, 0) 75%);
  padding-bottom: 0%;
}
.Container{
    margin: 10px auto;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #ababab;
}
.Margin{
  padding-top: 10px;
  padding-left: 475px;
}

.Container2{
  margin: 200px;
  height: 425PX;
  width: 10PX;
  display: flex;
  justify-content: center;
  background-color: #ababab;
  }